<component>
  <p onclick={action}>{ state.message }+++++</p>
  <my-inner></my-inner>++++++++++++++++++===============
 <span is="my-link" i={{a:12}} href='/1' onclick={()=> alert(29)}>page1</span> <a href='/2'>page2</a>

  <script>

    export default {
      state: {
        message: 'Hi!++*********************'
      },
      action() {
        throw new Error('foo')
      }
    }
  </script>
</component>
