<component>
  <p onclick={action}>{ state.message }+++++</p>
  <my-inner></my-inner>++++++++++++++++++===============

  <script>

    export default {
      state: {
        message: 'Hi!++*********************'
      },
      action() {
        throw new Error('foo')
      }
    }
  </script>
</component>
