<my-layout>
  <div>
  <span is='my-link' href='/1'>page 1</span>
  <span is='my-link' href='/2'>page 2</span>
  <span is='my-link' href='/3'>page 3</span>
  <section id='page' is={props.page}></section>
  456
  </div>
</my-layout>
