{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.9.0"
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "babel-plugin-dynamic-import-node",
    "@babel/plugin-transform-modules-commonjs",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
