<menu-item class='active' key={to}>
  <nav-item to={to}></nav-item>
  <script>
    import Navitem from './navItem.riot'
    export default {
      components: {
        'nav-item': Navitem,
      }
    }
  </script>
</menu-item>
