<nav-item class={"nav-item"} key={to}>
  <a class={'nav-link active'} href={to}></a>
  <script>
    import Mylink from '../my-link.riot'
    export default {
      components: {
        'my-link': Mylink
      }
    }
  </script>
</nav-item>
