<nav-item>
  <a is="mylink" class={'nav-link active'} href={props.to}><slot/></a>
  <script>
    import MyLink from '../my-link.riot'
    export default {
      components: {
        MyLink
      }
    }
  </script>
</nav-item>
