<navigation-item class={ `nav-item${props.active ? ' active' : ''}` }>
  <a is="navigationlink" class={ `nav-link${props.active ? ' active' : ''}` } href={ props.to }>
    <slot/>
  </a>
  <script>
    import Navigationlink from '../navigationLink.riot'

    export default {
      components: {
        Navigationlink
      }
    }
  </script>
</navigation-item>
