<page1>
page199999999<p is="my-inner" onclick={handleClick}/> {orderline.price}
  <script>
    import {orderline} from '../../store';
    import Inner from '../components/inner.riot'
    export default {
      components: {
        'my-inner': Inner
      }
      init() {
         alert('init')
      }
      handleClick(e) {
        orderline.price ++;
      }
      orderline: orderline
    }
  </script>
</page1>
